<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Search vacancies</h1>
    <form action="#" th:action="@{/search}" th:object="${search}" method="post">
    	<p>Keyword: <input type="text" th:field="*{keyword}" /></p>
        <p>Salary: <input type="text" th:field="*{salary}" /></p>
        <p>Keyword limit: <input type="text" th:field="*{keywordLimit}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>
